[user]
	name = Aaron Madlon-Kay
	email = aaron@madlon-kay.com
[github]
	user = amake
[diff]
	colorMoved = default
[sendemail]
    smtpserver = smtp.googlemail.com
    smtpencryption = tls
    smtpserverport = 587
    smtpuser = aaron@madlon-kay.com
	confirm = auto
